
/********** Assets **********/



/********** Mixins **********/
/* - f: refer to font
*/

/*** Fonts ***/
.fp{
    font-family: 'Poppins', sans-serif;
}

.fr {
    font-family: 'Roboto', sans-serif;
}

.far {
    font-family: 'Font Awesome 5 Solid';

}

/*** Ajustements ***/
.reset {
    background: transparent;
    border: none;
}

.container-fluid {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px;
    flex-grow: 1;
}


/*** Style ***/
.btn-brand {
    .fp;
    color: @red;
    font-weight: 900;
}

.btn-create {
    .btn-brand;
    border-radius: 8px;
    border: 1px solid @red !important;
    padding: 10px;
    margin: 0 auto 3% auto;
}



.br {
    border-radius: 24px;
}

/********** Colors **********/
@white:       #ffffff;
@black:       #000000;

@red:         #ff385c;
@blue:        #52a79f;

@light-grey: #f7f7f7;
@grey:       #717171;

@bg-footer: #dedede;


/****** GENERAL *****/
* { box-sizing: border-box;}

html {
    height: 100%;
}

body {
    height: 100%;
    .fr;
    background: @light-grey;
    a {
        color: inherit;
        text-decoration: none;
        background-color: transparent;
        &:hover, &:focus, &:active {
            color: red;
            text-decoration: none;
        }
    }
    h1, h2, h3,
    h4, h5, h6 {
        .fp;
    }
    ul {
        list-style: none;
        margin: 0;
    }
    [class^=btn-] {
        .reset;
    }
}

.container-fluid {
    position: relative;
        & > .container {
            padding: 50px 0;
        }
}


/***** FIN GENERAL *****/

/*** Menus ***/
.brand {
    .btn-brand;
    font-size: 1.7em;
}

.main-bar, .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: @white;
    padding: 10px 5%;
    .btn-cnx {
        .br;
        color: @red;
        padding: 10px;
        border: 1.5px solid @red;
        transition: all .5s;
        &:hover, &:active, &:focus {
            background: @red;
            color: @white;
        }
    }
}

.main-bar {
    position: fixed;
    z-index: 1;
    width: 100%;
    .main-menu {
        margin: auto;
        li {
            a {
                padding-bottom: 5px;
                border-bottom: 3px solid @white;
                &:hover, &:focus, &:active {
                    border-color: #ff385c;
                }
            }
        }
        li + li, li + li +li {
            margin-left: 30px;
        }
    }
}

footer {
    /// position: absolute;
    width: 100%;
    bottom: 0;

    .menu-footer {
        background: @bg-footer;
    }
}


.cards-layout {
    padding: 50px 0;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.card-chb {
    background: @white;
    border-radius: 8px;
    margin-bottom: 15%;
    -webkit-box-shadow: -9px 13px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: -9px 13px 5px 0px rgba(0,0,0,0.09);
    box-shadow: -9px 13px 5px 0px rgba(0,0,0,0.09);
    .cont-img {
        border-radius: 8px 8px 0 0;
        width: 100%;
        height: auto;
        overflow: hidden;
        //margin-bottom: 8%;
        img {
            height: auto;
            width: 100%;
        }
    }
    .btn-fav {
        float: right;
        color: @red;
        svg {
            font-size: 20px;

        }
    }
    .tag-prix {
        font-size: 18px;
    }
    .bloc-description {
        margin: 2% 0;
        display: block;
        color: @grey;
        font-weight: 300;
    }
    .btn-detail {
        .btn-brand;
        width: 100%;
        text-align: right;
    }
    .card-content {
        padding: 25px 25px 15px 25px;
    }
}

.cont-diaporama {
    height: 70vh;
    overflow: hidden;
    background-image: url('../../../../images/italy_land.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(80%);

    .box-presentation {
        position: absolute;
        width: 20%;
        top: 35%;
        left: 6%;
        color: @white;
        h2 {
            font-size: 2.5em;
        }
    }
}

.box-connexion {
    form {
        margin: auto;
        .br;
        .card-chb;
        padding: 25px 50px 50px 50px;
        background: @white;
        width: 30%;
        .brand-cnx {
            width: 100%;
            text-align: center;
            display: block;
            padding: 0;
            margin: 6% 0;
        }
        input {
            width: 100%;
            display: block;
            margin-bottom: 25px;
            height: 40px;
                &::placeholder {
                    padding: 5px;
                }
        }
        button {
            .reset;
            color: @red;
            padding: 10px;
            border: 1.5px solid @red;
            transition: all .5s;
            width: 100%;
            &:hover, &:active, &:focus {
                background: @red;
                color: @white;
            }
        }
    }
    .btn-ins {
        color: @blue;
        border-color: @blue;
        margin: auto;
        margin-bottom: 4%;
        width: 30%;
        display: block;
    }
}

.box-inscription {
    .btn-ins {
        width: 100%;
    }
    .ins-select {
        width: 100%;
        margin-bottom: 8%;
        height: 38px;
        padding: 5px;
    }
}

.box-detail-annonces {
    .detail-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
            .tag-prix {
                font-weight: 900;
                font-size: 1.5em;
                height: fit-content;
                margin: auto 0;
            }
    }

    .detail-img , .detail-description {
        margin-bottom: 5%;
    }

    .detail-img {
        height: 400px;
        max-height: 400px;
        width: 100%;
        text-align: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
    }

    .cont-resrv {
        text-align: right;
    }
}

.box-creation-annonce {
    .form-creation-annonce {
        & , .cont-box {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .cont-box {
            margin-bottom: 2%;
        }

        .cont-box-img-upload {
            display: flex;
            flex-direction: row;
        }

        .box-chb-type {
            label {
                margin-right: 2%;
            }
        }

    }
}

.box-btn {
    display: flex;
    flex-direction: row-reverse;
}

.adresse {
    border: 1px solid @bg-footer;
    padding: 25px;
    li {
        display: block;
        width: 100%;
        margin-bottom: 1%;
    }
}

.box-equipement {
    margin-bottom: 5%;
}
