/********** Assets **********/
/********** Mixins **********/
/* - f: refer to font
*/
/*** Fonts ***/
.fp {
  font-family: 'Poppins', sans-serif;
}
.fr {
  font-family: 'Roboto', sans-serif;
}
.far {
  font-family: 'Font Awesome 5 Solid';
}
/*** Ajustements ***/
.reset {
  background: transparent;
  border: none;
}
.container-fluid {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1300px;
  flex-grow: 1;
}
/*** Style ***/
.btn-brand {
  font-family: 'Poppins', sans-serif;
  color: #ff385c;
  font-weight: 900;
}
.btn-create {
  font-family: 'Poppins', sans-serif;
  color: #ff385c;
  font-weight: 900;
  border-radius: 8px;
  border: 1px solid #ff385c !important;
  padding: 10px;
  margin: 0 auto 3% auto;
}
.br {
  border-radius: 24px;
}
/********** Colors **********/
/****** GENERAL *****/
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #f7f7f7;
}
body a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
body a:hover,
body a:focus,
body a:active {
  color: red;
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Poppins', sans-serif;
}
body ul {
  list-style: none;
  margin: 0;
}
body [class^=btn-] {
  background: transparent;
  border: none;
}
.container-fluid {
  position: relative;
}
.container-fluid > .container {
  padding: 50px 0;
}
/***** FIN GENERAL *****/
/*** Menus ***/
.brand {
  font-family: 'Poppins', sans-serif;
  color: #ff385c;
  font-weight: 900;
  font-size: 1.7em;
}
.main-bar,
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px 5%;
}
.main-bar .btn-cnx,
.menu .btn-cnx {
  border-radius: 24px;
  color: #ff385c;
  padding: 10px;
  border: 1.5px solid #ff385c;
  transition: all 0.5s;
}
.main-bar .btn-cnx:hover,
.menu .btn-cnx:hover,
.main-bar .btn-cnx:active,
.menu .btn-cnx:active,
.main-bar .btn-cnx:focus,
.menu .btn-cnx:focus {
  background: #ff385c;
  color: #ffffff;
}
.main-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.main-bar .main-menu {
  margin: auto;
}
.main-bar .main-menu li a {
  padding-bottom: 5px;
  border-bottom: 3px solid #ffffff;
}
.main-bar .main-menu li a:hover,
.main-bar .main-menu li a:focus,
.main-bar .main-menu li a:active {
  border-color: #ff385c;
}
.main-bar .main-menu li + li,
.main-bar .main-menu li + li + li {
  margin-left: 30px;
}
footer {
  width: 100%;
  bottom: 0;
}
footer .menu-footer {
  background: #dedede;
}
.cards-layout {
  padding: 50px 0;
}
.cards-layout ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-chb {
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 15%;
  -webkit-box-shadow: -9px 13px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -9px 13px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: -9px 13px 5px 0px rgba(0, 0, 0, 0.09);
}
.card-chb .cont-img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.card-chb .cont-img img {
  height: auto;
  width: 100%;
}
.card-chb .btn-fav {
  float: right;
  color: #ff385c;
}
.card-chb .btn-fav svg {
  font-size: 20px;
}
.card-chb .tag-prix {
  font-size: 18px;
}
.card-chb .bloc-description {
  margin: 2% 0;
  display: block;
  color: #717171;
  font-weight: 300;
}
.card-chb .btn-detail {
  font-family: 'Poppins', sans-serif;
  color: #ff385c;
  font-weight: 900;
  width: 100%;
  text-align: right;
}
.card-chb .card-content {
  padding: 25px 25px 15px 25px;
}
.cont-diaporama {
  height: 70vh;
  overflow: hidden;
  background-image: url('../../../../images/italy_land.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(80%);
}
.cont-diaporama .box-presentation {
  position: absolute;
  width: 20%;
  top: 35%;
  left: 6%;
  color: #ffffff;
}
.cont-diaporama .box-presentation h2 {
  font-size: 2.5em;
}
.box-connexion form {
  margin: auto;
  border-radius: 24px;
  border-radius: 8px;
  margin-bottom: 15%;
  -webkit-box-shadow: -9px 13px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -9px 13px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: -9px 13px 5px 0px rgba(0, 0, 0, 0.09);
  padding: 25px 50px 50px 50px;
  background: #ffffff;
  width: 30%;
}
.box-connexion form .cont-img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.box-connexion form .cont-img img {
  height: auto;
  width: 100%;
}
.box-connexion form .btn-fav {
  float: right;
  color: #ff385c;
}
.box-connexion form .btn-fav svg {
  font-size: 20px;
}
.box-connexion form .tag-prix {
  font-size: 18px;
}
.box-connexion form .bloc-description {
  margin: 2% 0;
  display: block;
  color: #717171;
  font-weight: 300;
}
.box-connexion form .btn-detail {
  font-family: 'Poppins', sans-serif;
  color: #ff385c;
  font-weight: 900;
  width: 100%;
  text-align: right;
}
.box-connexion form .card-content {
  padding: 25px 25px 15px 25px;
}
.box-connexion form .brand-cnx {
  width: 100%;
  text-align: center;
  display: block;
  padding: 0;
  margin: 6% 0;
}
.box-connexion form input {
  width: 100%;
  display: block;
  margin-bottom: 25px;
  height: 40px;
}
.box-connexion form input::placeholder {
  padding: 5px;
}
.box-connexion form button {
  background: transparent;
  border: none;
  color: #ff385c;
  padding: 10px;
  border: 1.5px solid #ff385c;
  transition: all 0.5s;
  width: 100%;
}
.box-connexion form button:hover,
.box-connexion form button:active,
.box-connexion form button:focus {
  background: #ff385c;
  color: #ffffff;
}
.box-connexion .btn-ins {
  color: #52a79f;
  border-color: #52a79f;
  margin: auto;
  margin-bottom: 4%;
  width: 30%;
  display: block;
}
.box-inscription .btn-ins {
  width: 100%;
}
.box-inscription .ins-select {
  width: 100%;
  margin-bottom: 8%;
  height: 38px;
  padding: 5px;
}
.box-detail-annonces .detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box-detail-annonces .detail-header .tag-prix {
  font-weight: 900;
  font-size: 1.5em;
  height: fit-content;
  margin: auto 0;
}
.box-detail-annonces .detail-img,
.box-detail-annonces .detail-description {
  margin-bottom: 5%;
}
.box-detail-annonces .detail-img {
  height: 400px;
  max-height: 400px;
  width: 100%;
  text-align: center;
}
.box-detail-annonces .detail-img img {
  max-width: 100%;
  max-height: 100%;
}
.box-detail-annonces .cont-resrv {
  text-align: right;
}
.box-creation-annonce .form-creation-annonce,
.box-creation-annonce .form-creation-annonce .cont-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.box-creation-annonce .form-creation-annonce .cont-box {
  margin-bottom: 2%;
}
.box-creation-annonce .form-creation-annonce .cont-box-img-upload {
  display: flex;
  flex-direction: row;
}
.box-creation-annonce .form-creation-annonce .box-chb-type label {
  margin-right: 2%;
}
.box-btn {
  display: flex;
  flex-direction: row-reverse;
}
.adresse {
  border: 1px solid #dedede;
  padding: 25px;
}
.adresse li {
  display: block;
  width: 100%;
  margin-bottom: 1%;
}
.box-equipement {
  margin-bottom: 5%;
}
/*# sourceMappingURL=style.css.map */